.carousel-item img {
    height: 70vh;
    width: 100%;
}

.card-footer img {
    height: 45px;
    width: 45px;
    border-radius: 25px;
}

.style-slider>div {
    padding: 10px;

}

.icon-style {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

.explore-bg {
    background-color: #cadce6;
}

@media screen and (max-width:576px) {
    .carousel-item img {
        height: 50vh;
        width: 100%;
    }

    .brakpoint img {
        width: 100%;
    }

    .explore-bg {
        background-color: #F4FAFD;
    }
}

@media screen and (min-width:577px) and (max-width:855px) {
    .carousel-item img {
        height: 90vh;
    }
}